<html>

<head>
    <link rel="stylesheet" type="text/css" href="/korisnik.css">
    <!-- <link rel="stylesheet" type="text/css" href="/src/main/resources/static/korisnik.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="registrationContrainer">
        <div class="loginQuestion">
            <h2>Več imaš račun?</h2>
            <a href="/korisnik/login">Prijavi se</a>
        </div>
        <div class="registraionForm">
            <h2 class="prijavaText">Registracija</h2>
            <form action="/korisnik/createNew" method="POST">
                <div class="form-group">
                    <input class="upisLogin" type="email" id="username" name="username" onblur="checkDatabase()" placeholder="Email" required>
                    <lable id="hidden"></lable>
                </div>
                <div class="form-group">
                    <input class="upisLogin" type="text" id="name" name="name" placeholder="Ime" required>
                </div>
                <div class="form-group">
                    <input class="upisLogin" type="text" id="surname" name="surname" placeholder="Prezime" required>
                </div>
                <div class="form-group">
                    <input class="upisLogin" type="password" id="password" name="password" placeholder="Lozinka" required>
                </div>
                <div class="form-group">
                    <input class="upisLogin" type="text" id="OIB" name="OIB" placeholder="OIB" required>
                </div>
                <div class="form-group">
                    <button class="submitButton" type="submit" id="createButton">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function checkDatabase() {
        var username = document.getElementById("username").value;
        $.ajax({
            url: "/korisnik/usernameCheck",
            type: "GET",
            data: { username: username },
            success: function (data) {
                if (data == "false") {
                    document.getElementById("hidden").innerHTML = "Korisničko ime je već zauzeto!";
                    document.getElementById("createButton").style.visibility = "hidden";
                } else {
                    document.getElementById("hidden").innerHTML = "";
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>