<html>
<head>
    <link rel="stylesheet" type="text/css" href="/test.css">
</head>
<body>
    <div class="container">
        <div th:insert="~{shared/navigationBar}"></div>
        <div class="form-group" style="display: flex;flex-direction: column; justify-content: center;"></div>
        <h2 style="text-align: center;">Registracija</h2>
        <div style="display: flex;justify-content: center;">
            <form action="/korisnik/createNew" method="POST">
                <div class="form-group" style="display: flex;flex-direction: column;">
                    <label for="username" style="text-align: center;">Username:</label>
                    <input type="email" id="username" name="username" onblur="checkDatabase()" required>
                    <lable id="hidden"></lable>
                </div>
                <div class="form-group"style="display: flex;flex-direction: column;">
                    <label for="text"style="text-align: center;">Ime:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group"style="display: flex;flex-direction: column;">
                    <label for="text"style="text-align: center;">Prezime:</label>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <div class="form-group"style="display: flex;flex-direction: column;">
                    <label for="password"style="text-align: center;">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group"style="display: flex;flex-direction: column;">
                    <label for="text"style="text-align: center;">OIB:</label>
                    <input type="text" id="OIB" name="OIB" required>
                </div>
                <div class="form-group"style="padding-top: 10px; display: flex;justify-content: center;">
                    <button type="submit" id="createButton">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function checkDatabase() {
        var username = document.getElementById("username").value;
        $.ajax({
            url: "/korisnik/usernameCheck",
            type: "GET",
            data: { username: username },
            success: function (data) {
                if (data == "false") {
                    document.getElementById("hidden").innerHTML = "Korisničko ime je već zauzeto!";
                    document.getElementById("createButton").style.visibility="hidden";
                } else {
                    document.getElementById("hidden").innerHTML = "";
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>