<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/file.css">
    <!-- <link rel="stylesheet" type="text/css" href="/src/main/resources/static/file.css"> -->
    <title>Korisnici</title>
</head>

<body>
    <div th:insert="~{shared/navigationBar}">
    </div>
    <div class="inbox">
        <div class="topHalf">
            <h1>POPIS POŠILJATELJA</h1>
            <div class="userTypeContainer">
                <h4>Vrsta trenutnog korisnika:</h4>
                <h4 th:text="${userType}">
                    </th:text>
                </h4>
            </div>
        </div>
        <div class="bottomHalf">
            <div>
                <a href="/korisnik/createSender">Registriraj se</a>
            </div>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMAIL KORISNIKA</th>
                        <th>ŠIFRA</th>
                        <th colspan="2">AKCIJE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="korisnik : ${listKorisnika}">
                        <td class="date" th:text="${korisnik.id}">Product ID</td>
                        <td class="message" th:text="${korisnik.userName}">Naziv</td>
                        <td class="sender" th:text="${korisnik.password}">ects</td>
                        <td class="icon"><a th:href="@{/korisnik/edit(id=${korisnik.id})}">Uredi</a></td>
                        <!-- <td class="icon"><a th:href="@{/korisnik/deleteSender(id=${korisnik.id})}">Izbriši</a></td> -->
                        <td class="icon"><button th:data-username="${korisnik.userName}" th:data-userId="${korisnik.id}"
                            onclick="addPopup(this.getAttribute('data-username'), this.getAttribute('data-userid'))">Obriši korisnika</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="deletePopup" id="popup">
        <h3 class="deleteMessage">Jeste li sigurni da želite obrisati ovog pošiljatelja?</h3>
        <h4 class="userText" id="userText"></h4>
        <div class="buttons">
            <button class="yesButton" onclick="deleteMessage()">DA</button>
            <button class="noButton" onclick="removePopup()">NE</button>
        </div>
    </div>
</body>

</html>

<script>
    function addPopup(korisnik, id) {
        console.log(korisnik);
        var popup = document.getElementById('popup');
        var text = document.getElementById('userText');
        text.innerHTML = "Korisnik: " + korisnik;
        popup.style.display = 'block';
        sessionStorage.setItem("korisnik", korisnik);
        sessionStorage.setItem("korisnikId", id);
    }

    function removePopup() {
        var popup = document.getElementById('popup');
        sessionStorage.removeItem("messageId");
        sessionStorage.removeItem("fileId");
        popup.style.display = 'none';
    }



    function deleteMessage() {
        var korisnik = sessionStorage.getItem("korisnik");
        var korisnikId = sessionStorage.getItem("korisnikId");

        $.ajax({
            url: "/korisnik/deleteUser",
            type: "GET",
            data: { korisnik: korisnik, id: korisnikId },
            success: function (data) {
                var popup = document.getElementById('popup');
                popup.style.display = 'none';
                sessionStorage.removeItem("korisnik");
                sessionStorage.removeItem("korisnikId");
                location.reload();
            },
            error: function () {
                console.log("Greška prilikom brisanja");
            }
        });

        // console.log(id);
    }
</script>