body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigationBar {
    width: 100%;
    background-color: #0070D7;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height:45px;
}

#navList {
    position: absolute;
    left:35%;
    width: 30%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#navList li {
    margin: 0 10px;
}

#navList li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#navList li a svg {
    margin-right: 8px;
}

.right-items {
    display: flex;
    align-items: center;
    position: absolute;
    width: auto;
    right: 3%;
}

.right-items a,
.right-items label {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}