<html>

<head>
    <link rel="stylesheet" type="text/css" href="/file.css">
    <!-- <link rel="stylesheet" type="text/css" href="/src/main/resources/static/file.css"> -->
</head>

<body>
    <div th:insert="~{shared/navigationBar}"></div>
    <div class="topHalf">
        <h1 class="title">Pošalji poruku</h1>
    </div>
    <div class="sendMessage">
        <h2>Privitak</h2>
        <form id="uploadForm" action="/file/uploadPDF" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <svg class="attachment" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 448 512">
                    <!-- SVG path -->
                </svg>
                <input class="filePicker" type="file" name="files" id="file" multiple />
            </div>
        </form>
        <input class="submitButton" type="button" onclick="send()" value="Pošalji"></input>
    </div>
    <div class="errorPopup" id="errorPopup">
        <div class="filesError">
            <h3 id="filesErrorText">Datoteke koje se nisu uspijele poslati: </h3>
        </div>
        <div class="middleLine">
            <hr />
        </div>
        <div class="usernameError">
            <h3 id="usernameErrorText">Korisnici koji ne postoje: </h3>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function checkDatabase() {
        var username = document.getElementById("recever").value;
        $.ajax({
            url: "/korisnik/usernameCheck",
            type: "GET",
            data: { username: username },
            success: function (data) {
                if (data == "true") {
                    document.getElementById("hidden").innerHTML = "Korisničko ime ne postoji!";
                } else {
                    document.getElementById("hidden").innerHTML = "";
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }


    function send() {
        var formdata = new FormData();
        var files = document.getElementById("file").files;
        for (var i = 0; i < files.length; i++) {
            formdata.append('files', files[i]);
        }
        var usernamesError = document.getElementById('usernameErrorText');
        var filesError = document.getElementById('filesErrorText');
        filesError.innerHTML="Datoteke koje se nisu uspijele poslati: "
        usernamesError.innerHTML="Korisnici koji ne postoje: "
        $.ajax({
            url: "/file/uploadPDF",
            type: "POST", // Ensure it's POST method for file upload
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.usernames == "" && data.files == "") {
                    alert("Sve datoteke su uspiješno poslane.")
                } else {
                    if (data.usernames != "") {
                        var popup =  document.getElementById('errorPopup');
                        popup.style.display='block';
                        for (var k = 0; k < data.usernames.length; k++) {
                            usernamesError.innerHTML += data.usernames[k] + ", ";
                        }
                        for (var k = 0; k < data.files.length; k++) {
                            filesError.innerHTML += data.files[k] + ", ";
                        }
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                var errorMsg = "Request failed: " + textStatus + "\nError: " + errorThrown + "\nResponse: " + JSON.stringify(jqXHR.responseJSON || jqXHR.responseText);
                //alert(errorMsg); // Display error message
            }
        });
    }
</script>