<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/file.css">
    <!-- <link rel="stylesheet" type="text/css" href="/src/main/resources/static/file.css"> -->
    <title>Korisnici</title>
</head>

<body>
    <!-- <div th:insert="~{shared/navigationBar}"> -->
    </div>
    <h2>Došlo je do greške. Molimo pokušajte ponovo, ako se problem nastavi kontaktirajte administratora.</h2>
    <a href="{/korisnik/login}">Povratak na početnu stranicu</a>
</body>

</html>